
page-tusigno{
    background-image: url('../assets/imgs/fondo.png');
}

page-tusigno > ion-content{
  background-color: transparent;
}

.card-first{
    background-image: url('../assets/imgs/fondo.png');
    color : white;
}

.card-first > ion-content{
  background-color: transparent;
}
.card-second{
    background-image: url('../assets/imgs/fondo.png');
    color : white;
}

.card-second > ion-content{
  background-color: transparent;
 
}

.btn-space{
    background-image: url('../assets/imgs/btn.png')  !important;
    
   
    color : white;
}

.btn-space > ion-content{
  background-color: transparent;
}

